*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.firstHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 90%;
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}
.menu * li {
  display: inline;
  list-style: none;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 10px;
}
.menuList:link,
.menuList:visited {
  color: black;
  text-decoration: none;
}
.menuList:active,
.menuList:visited:active {
  color: #af2b2b;  /*Rosso logo*/
  text-decoration: none;
}
.text {
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: white;
  background-color: #af2b2b;
  font-weight:900;
  font-size: 55px;
  padding: 150px 50px;
  letter-spacing: 10px;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .me {
  margin-top: 40px;
  width: 70%;
}
.capture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 section h2 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 22px;
}
 section p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.capture > h2 {
  margin-top: 30px;
}
 a.button:link,
 a.button:visited {
  margin-top: 30px;
  padding: 5px 75px;
  background-color: #af2b2b;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
 a.button:active,
 a.button:visited:active {
   background-color: black;
   color: white;
}
 .aboutWorks {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .aboutWorks > h2 {
   margin-top: 90px;
 }
 .workRev {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .workPic {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .workPic > p {
   margin-top: 30px;
   color: #af2b2b;
}
 .picture {
   margin-top: 10px;
   width: 70%;
}
 .aboutContacts {
   background-color: #af2b2b;
   margin-top: 90px;
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 section .touch {
   color: white;
 }
 section .btContacts:link,
 section .btContacts:visited {
   background-color: white;
   color: black;
 }
 section .btContacts:active,
 section .btContacts:visited:active {
   background-color: black;
   color: white;
 }
footer {
  border: 2px solid red;
  background-color: black;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContact {
  border: 2px solid yellow;
  text-align: center;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.mailto:link,
.mailto:visited {
  color: white;
  text-decoration: none;
}
.footerSocial {
  border: 2px solid aqua;
  margin-top: 15px;
  display: flex;
  justify-content: center;

}
.socialLink {
  border: 2px solid lime;
  width: 7%;
  margin: 0 2%;
}
.social {
  width: 100%;
}

@media screen and (min-width:600px) {
  .content {
    margin: 0 5%;
  }
  .firstHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 0;
  }
  .logo {
    width: 45%;
    margin: 0;
  }
  .menu{
  display: flex;
  justify-content: space-around;
  }
  .menu * li {
    font-size:0.9em;
    margin-left: 20px;
  }
  .text {
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
  }
  .aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .capture {
    align-items: flex-start;
  }
  section .me {
    margin: 60px 60px;
    width: 45%;
  }
  section h2 {
    margin-right: 30px;
  }
  a.button:link,
  a.button:visited {
    padding: 5px 64px;
  }
  .aboutWorks {
    align-items: flex-start;
  }
  .aboutWorks > h2 {
    margin-left: 7%;
  }
  .workRev {
    flex-direction: row;
    justify-content: space-around;
  }
  .btWorks {
    margin-left: 7%;
  }
  .aboutContacts {
    flex-direction: row;
    justify-content: space-around;
  }
  a.btContacts:link,
  a.btContacts:visited {
    margin-top: 0;
  }
  footer {
    flex-direction: row;
    justify-content: center;
  }
  .footerSocial {
    margin-top: 0;
    justify-content: flex-start;
  }
  .socialLink {
    width: 4%;
    margin: 0 2%;
  }
}


@media screen and (min-width:900px) {
  .firstHeader {
     padding-right: 100px;
    }
  .logo {
    width: 35%;
  }
  .menu * li {
    font-size:1em;
  }
  .menuList:hover,
  .menuList:visited:hover {
   border-bottom: 2px solid #af2b2b;
  }
  .text {
   font-size: 80px;
   padding: 180px;
  }

  section .me {
    margin-top: 60px;
    width: 40%;
  }
  section h2 {
    font-size: 30px;
  }
  section p {
    font-size: 1em;
  }
  a.button:link,
  a.button:visited {
  margin-top: 80px;
  padding: 8px 102px;
  font-size: 1em;
  transition-property: padding;
  transition-duration: 1s;
  }
  a.button:hover,
  a.button:visited:hover {
    padding: 10px 110px;
    text-decoration: underline;
  }
  a.btContacts:link,
  a.btContacts:visited {
    margin-top: 0;
  }
}
