*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.firstHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 90%;
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}
.menu * li {
  display: inline;
  list-style: none;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 10px;
}
.menuList:link,
.menuList:visited {
  color: black;
  text-decoration: none;
}
.menuList:active,
.menuList:visited:active {
  color: #af2b2b;  /*Rosso logo*/
  text-decoration: none;
}
.text {
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: white;
  background-color: #af2b2b;
  font-weight:900;
  font-size: 55px;
  padding: 150px 50px;
  letter-spacing: 10px;
  margin-top: 10px;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .me {
  margin-top: 40px;
  width: 70%;
}
.capture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 section h2 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 22px;
}
 section p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.capture > h2 {
  margin-top: 30px;
}
 a.button:link,
 a.button:visited {
  margin-top: 30px;
  padding: 5px 75px;
  background-color: #af2b2b;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
 a.button:active,
 a.button:visited:active {
   background-color: black;
   color: white;
}
 .aboutWorks {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .aboutWorks > h2 {
   margin-top: 90px;
 }
 .workRev {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .workPic {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .workPic > p {
   margin-top: 30px;
   color: #af2b2b;
}
 .picture {
   margin-top: 10px;
   width: 70%;
}
 .aboutContacts {
   background-color: #af2b2b;
   margin-top: 90px;
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 section .touch {
   color: white;
 }
 section .btContacts:link,
 section .btContacts:visited {
   background-color: white;
   color: black;
 }
 section .btContacts:active,
 section .btContacts:visited:active {
   background-color: black;
   color: white;
 }
footer {
  padding: 25px;
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 11px;
  text-align: center;
}
/* Fine pagina "Home"*/

/* Inizio pagina "About"*/

.about {
  margin-top: 10px;
  font-size: 25px;
  padding: 75px 50px;
}
.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10%;
}
.cvPic {
  width: 100%;
  margin-bottom: 10%;
}
.cvText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5%;
}
.paragraph:last-child {
  margin-bottom: 0;
}

/*Fine pagina About*/

/*Inizio pagina Works*/

.illustration,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.Grid {
  display: flex;
  flex-direction:column;
  align-items:center;
  margin: 10% 10%;
}
.gridItem {
width: 100%;
}

/*Fine pagina Works*/

/*Inizio pagina Contacts*/

.aboutLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}
.mail {
  text-align: center;
  margin: 20% 0;
  width: 100%;
}
.sendMail:link,
.sendMail:visited {
  display: block;
  margin-top: 10%;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
}
.sendMail:active,
.sendMail:visited:active {
  color:  #af2b2b;
}
.follow {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  margin-bottom: 20%;
}
.socialGrid {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.socialItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}
.socialItem:first-child {
  margin-top: 0;
}
.socialLink:link,
.socialLink:visited {
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
}
.socialLink:active,
.socialLink:visited:active {
  color: #af2b2b;
}
.socialIMG {
  width: 50px;
  margin: 0 auto;
}
@media screen and (min-width:600px) {
  .content {
    margin: 0 5%;
  }
  .firstHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 0;
  }
  .logo {
    width: 45%;
    margin: 0;
  }
  .menu{
  display: flex;
  justify-content: space-around;
  }
  .menu * li {
    font-size:0.9em;
    margin-left: 20px;
  }
  .text {
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
    margin-top: 0;
  }
  .aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .capture {
    align-items: flex-start;
  }
  section .me {
    margin: 60px 60px;
    width: 45%;
  }
  section h2 {
    margin-right: 30px;
  }
  a.button:link,
  a.button:visited {
    padding: 5px 64px;
  }
  .aboutWorks {
    align-items: flex-start;
  }
  .aboutWorks > h2 {
    margin-left: 7%;
  }
  .workRev {
    flex-direction: row;
    justify-content: space-around;
  }
  .btWorks {
    margin-left: 7%;
  }
  .aboutContacts {
    flex-direction: row;
    justify-content: space-around;
  }
  a.btContacts:link,
  a.btContacts:visited {
    margin-top: 0;
  }

  /* Fine pagina "Home"*/

  /* Inizio pagina "About"*/

  .about {
    font-size: 35px;
  }
  .cv {
    align-items: flex-start;
    margin: 5% 5%;
  }
  .cvPic {
    width: 50%;
    margin-bottom: 10%;
  }
  .pGroup {
      display: flex;
      justify-content: space-between;
  }
  .p1 {
    margin-bottom: 0;
    width: 50%;
  }
  .btAbout {
    width: 50%;
    text-align: center;
  }

  /*Fine pagina About*/

  /*Inizio pagina Works*/

  .Grid {
    flex-direction:row;
    flex-wrap: wrap;
  }
  .gridItem {
    width: 50%;
  }

  /*Fine pagina Works*/

  /*Inizio pagina Contacts*/

  .aboutLink {
    align-items: flex-start;
    margin: 0 5%;
  }
  .mail {
    text-align: left;
    margin: 10% 0;
    width: 50%;
  }
  .sendMail:link,
  .sendMail:visited {
  text-align:left;
  margin-top: 5%;
  }
  .follow {
    align-items: flex-start;
    margin-bottom: 10%;
  }
  .socialGrid {
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-between;
  }
  .socialItem {
    width: 15%;
    margin-top: 10%;
    align-self: flex-start;
  }
  .socialItem {
    margin-top: 0;
  }
  .socialIMG {
    width: 60px;
  }
}

@media screen and (min-width:900px) {
  .firstHeader {
     padding-right: 100px;
    }
  .logo {
    width: 35%;
  }
  .menu * li {
    font-size:1em;
  }
  .menuList:hover,
  .menuList:visited:hover {
   border-bottom: 2px solid #af2b2b;
  }
  .text {
   font-size: 80px;
   padding: 180px;
  }

  section .me {
    margin-top: 60px;
    width: 40%;
  }
  section h2 {
    font-size: 30px;
  }
  section p {
    font-size: 1em;
  }
  a.button:link,
  a.button:visited {
  margin-top: 80px;
  padding: 8px 102px;
  font-size: 1em;
  transition-property: padding;
  transition-duration: 1s;
  }
  a.button:hover,
  a.button:visited:hover {
    padding: 10px 110px;
    text-decoration: underline;
  }
  a.btContacts:link,
  a.btContacts:visited {
    margin-top: 0;
  }
  footer {
    padding: 35px;
    font-size: 12px;
  }

  /* Fine pagina "Home"*/

  /* Inizio pagina "About"*/
  .about {
    font-size: 40px;
    padding: 90px;
  }

  .cvCapture {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cvPic {
    width: 40%;
    height: 40%;
    margin-bottom: 0;
  }
  .cvText {
    width: 60%;
    height: 60%;
    margin-left: 10%;
  }
  .btAbout {
    width: 40%;
  }
  /*Fine pagina About*/

  /*Inizio pagina Works*/
  .illustration,
  .projects {
   margin-top: 5%;
  }
  .Grid {
    margin: 5% 5%;
  }
  .gridItem {
    width: 25%;
  }

  /*Fine pagina Works*/

  /*Inizio pagina Contacts*/

  .mail {
    margin: 5% 0;
    width: 20%;
  }
  .sendMail:link,
  .sendMail:visited {
  font-size: 16px;
  width: 83%;
  }
  .sendMail:hover,
  .sendMail:visited:hover {
    border-bottom: 2px solid #af2b2b;
  }
  .follow {
    width: 50%;
    margin-bottom: 5%;
  }
  .socialGrid {
    margin-top: 2%;
  }
  .socialItem {
    margin-top: 10%;
    align-self: flex-start;
  }
  .socialLink:link,
  .socialLink:visited {
    font-size: 16px;
    margin-bottom: 10%;
  }
  .socialLink:hover,
  .socialLink:visited:hover {
    border-bottom: 2px solid #af2b2b;
  }
  .socialItem {
    margin-top: 0;
  }
  .socialIMG {
    width: 70px;
  }
}
