*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.firstHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 90%;
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}
.menu * li {
  display: inline;
  list-style: none;
  font-family:sans-serif;
  font-size: 14px;
}
.menuList:link,
.menuList:visited {
  color: black;
  text-decoration: none;
}
.menuList:active,
.menuList:visited:active {
  color: #c62e35;  /*Rosso logo*/
  text-decoration: none;
}
.welcome {
  background-color: #c62e35;
  position:relative;
  height: 250px;
}
.text {
    border: 2px solid yellow;
  text-align: justify;
  position: absolute;
  left: -5px;
  bottom: -15px;
}
.text h1 {
  font-family: 'Roboto' sans-serif;
  color:white;
  font-weight:900;
  font-size: 55px;
}
@media screen and (min-width:600px) {
  .firstHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 0;
  }
  .logo {
    width: 50%;
    margin: 0;
  }
  .menu{
  display: flex;
  justify-content: space-around;
  }
  .menu * li {
    font-size:0.9em;
    margin-left: 20px;
  }
  .welcome {
    height: 350px;
  }
  .text {
    left: -7px;
    bottom: -19px;
  }
  .text h1 {
    font-family:'Roboto' sans-serif;
    font-weight: 900;
    font-size: 70px;
  }
}
@media screen and (min-width:900px) {
  .firstHeader {
     padding-right: 100px;
    }
  .logo {
    width: 35%;
  }
  .menu * li {
    font-size:1em;
  }
  .menuList:hover,
  .menuList:visited:hover {
   border-bottom: 2px solid #c62e35;
  }
  .welcome {
    height: 450px;
  }
  .text {
    left: -10px;
    bottom: -23px;
  }
  .text h1 {
    font-size: 80px;
  }

}
